---
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/index.static.pug
    - app/ca/about.static.md

lang: ca
language: Idioma
introducing: Presentant a
---
| {{>index}}
section.about {{>about}}
