section.index
  header
    svg(viewBox="0 0 1000 200", xmlns="http://www.w3.org/2000/svg", version="1.1")
      path(id="introducing-curve", d="M 50 200 A 700 500 0 0 1 950 200", fill="transparent", stroke="transparent")/
      text
        textPath(xlink:href="#introducing-curve", textLength="941") {{introducing}}
  div.nyandagi
    img(src="/nyandagi.svg")/
  footer
    svg(viewBox="0 0 1000 200", xmlns="http://www.w3.org/2000/svg", version="1.1")
      path(id="nyandagi-curve", d="M 50 50 A 700 500 0 0 0 950 50", fill="transparent", stroke="transparent")/
      text
        textPath(xlink:href="#nyandagi-curve", textLength="941") Nyandagi!
