---
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/index.static.pug
    - app/about.static.md

lang: en
language: Language
introducing: Introducing
---
| {{>index}}
section.about {{>about}}
