doctype html
html(lang=lang prefix="og: http://ogp.me/ns#")
  head
    title ~~ nyandagi ~~
    meta(httpEquiv="Content-Type", content="text/html; charset=utf-8")/
    meta(name="description", content="nyan + andagi!")/
    meta(name="viewport", content="width=device-width, initial-scale=1")/
    meta(property="og:determiner", content="")/
    meta(property="og:site_name", content="~~ nyandagi ~~")/
    meta(property="og:title", content="~~ nyandagi ~~")/
    meta(property="og:description", content="nyan + andagi!")/
    meta(property="og:type", content="website")/
    meta(property="og:url", content="https://nyandagi.cat")/
    meta(property="og:image", content="http://nyandagi.cat/nyandagi.png")/
    meta(property="og:image:secure_url", content="https://nyandagi.cat/nyandagi.png")/
    meta(property="og:image:alt", content="~~ nyandagi ~~")/
    meta(property="twitter:card", content="summary_large_image")/
    link(href="https://fonts.googleapis.com/css?family=Diplomata+SC|Lato|Merriweather", rel="stylesheet")/
    link(rel="stylesheet", type="text/css", href="/app.css")/
  body(class=lang)
    | {{ content }}

    aside.languages
      header=language
      ul
        li.en
          a(href="/") English
        li.ca
          a(href="/ca") Català
